@page "/hosts/add"
@inject NavigationManager Navigation

    <MudText Typo="Typo.h2">Dodaj host</MudText>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="NameValue" Label="Nazwa hosta" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>


    <MudForm>
        <MudRadioGroup @bind-SelectedOption="@SelectedOption">
            <MudRadio Option="@("Windows")" Color="Color.Primary">Windows</MudRadio>
            <MudRadio Option="@("Linux")" Color="Color.Primary">Linux</MudRadio>
        </MudRadioGroup>
    </MudForm>

    <div class="d-flex align-center">
        <MudButton Variant="Variant.Outlined" OnClick="Reset">Reset</MudButton>
        <MudText Class="ml-4">(Do testów)Selected Option: @SelectedOption</MudText>
    </div>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="ImageName" Label="Adres hosta" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="ContainerPort" Label="Hasło" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>

    <br />

    <MudItem>
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Label="Utwórz" Class="py-4 px-6 rounded-lg" />
    </MudItem>




    @code {
        public string NameValue { get; set; }
        public string ImageName { get; set; }
        public string ContainerPort { get; set; }
        public string TargerPort { get; set; }
        public string Flags { get; set; }

        public string SelectedOption { get; set; }

        private void Reset()
        {
            SelectedOption = null;
        }


        IList<IBrowserFile> files = new List<IBrowserFile>();
        private void UploadFiles(InputFileChangeEventArgs e)
        {
            foreach (var file in e.GetMultipleFiles())
            {
                files.Add(file);
            }
            //TODO upload the files to the server
        }
    }
