@page "/containers"
@inject NavigationManager Navigation
@inject IContainerService ContSrvc
@inject IDialogService DialogService 
@inject AuthenticationStateProvider provider

<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<h2>Your containers</h2>
<MudButton Style="margin: 10px 0;" StartIcon="@Icons.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" OnClick="CreateContainer">Add</MudButton>
<div>
    <MudTable Items="containers" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent" Hover="true" Dense="true"
              RowClassFunc="@SelectedRowClassFunc" OnRowClick="e => RowClickEvent(e)" @ref="mudTable" T="ContainerModel">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Source image</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>OS</MudTh>
            <MudTh>State</MudTh>
            <MudTh>Running</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.DockerImageName</MudTd>
            <MudTd>@context.Description</MudTd>
            @if (context.IsWindows)
                        {
                            <MudTd>
                                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftWindows" />
                            </MudTd>
                        }
                        else
                        {
                            <MudTd>
                                <MudIcon Icon="fab fa-linux" />
                            </MudTd>
                        }
            <MudTd>@context.State</MudTd>
            @*<MudTd>@context.Machine.DisplayName</MudTd>*@
            @if (context.IsRunning)
            {
                <MudTd><MudIcon Icon="@Icons.Filled.Circle" Color="Color.Success"></MudIcon></MudTd>
            }
            else
            {
                <MudTd><MudIcon Icon="@Icons.Filled.Circle" Color="Color.Error"></MudIcon></MudTd>            
            }
        <MudTd Class="actions-cell">
            @if (loadingContainers != null && loadingContainers.Contains(context))
            {
                <MudProgressCircular Indeterminate="true" Size="Size.Small"></MudProgressCircular>
            }
            else
            {
                @if (context.IsRunning)
                {

                    <MudIconButton Icon="@Icons.Filled.StopCircle" Color="Color.Primary" OnClick="e => StopContainer(context)" />
                }
                else
                {
                    <MudIconButton Icon="@Icons.Filled.PlayCircle" Color="Color.Primary" OnClick="e => StartContainer(context)" />
                }
            }
                <MudIconButton Icon="@Icons.Filled.Visibility" Color="Color.Primary" OnClick="e => ViewContainer(context)" />
                <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="e => DeleteContainer(context)" />
            </MudTd>
        </RowTemplate>
    </MudTable>
    @if (containers == null)
    {
        <p><em>Loading...</em></p>
    }
</div>

@code {
    List<ContainerModel> containers;
    List<ContainerModel> loadingContainers = new ();
    private int selectedRowNumber = -1;
    private MudTable<ContainerModel> mudTable;

    protected override async Task OnInitializedAsync()
    {
        containers = await ContSrvc.ListContainers(100);
        var res = await ContSrvc.RefreshUserContainers();
        if (res)
        {
            containers = await ContSrvc.ListContainers(100);
        }
    }

    public void SelectionChangedEvent(object row)
    {
        //Navigation.NavigateTo($"/images/details?id=" + (row as ImageModel).Id);
    }

    private void RowClickEvent(TableRowClickEventArgs<ContainerModel> tableRowClickEventArgs)
    {
        //Navigation.NavigateTo($"containers/details?id={tableRowClickEventArgs.Item.Id}");
        return;
    }

    private string SelectedRowClassFunc(ContainerModel container, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            return string.Empty;
        }
        if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(container))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        return string.Empty;
    }

    public void ViewContainer(ContainerModel container)
    {
        Navigation.NavigateTo($"/containers/details/" + container.Id);
    }

    async Task DeleteContainer(ContainerModel container)
    {
        var parameters = new DialogParameters { ["container"] = container };

        var dialog = DialogService.Show<DeleteContainerDialog>("Delete Container", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            var deletedServer = result.Data.ToString();
            var response = await ContSrvc.DeleteContainer(container.Id);
            if (response.IsSuccessStatusCode)
            {
                containers.RemoveAll(item => item.Id.Equals(deletedServer));
                StateHasChanged();
            }
        }
    }

    private void CreateContainer()
    {
        Navigation.NavigateTo($"/containers/add");
    }

    private async Task StopContainer(ContainerModel container)
    {
        loadingContainers.Add(container);
        await ContSrvc.StopContainer(container.Id);
        bool refr = await ContSrvc.RefreshUserContainers();
        if (refr)
        {
            containers = await ContSrvc.ListContainers(100);
            loadingContainers.Remove(container);
            StateHasChanged();
        }
    }

    private async Task StartContainer(ContainerModel container)
    {
        loadingContainers.Add(container);
        await ContSrvc.StartContainer(container.Id);
        bool refr = await ContSrvc.RefreshUserContainers();
        if (refr)
        {
            containers = await ContSrvc.ListContainers(100);
            loadingContainers.Remove(container);
            StateHasChanged();
        }
    }
}