@page "/images"
@inject NavigationManager Navigation
@inject IImageService ImgSrvc

<h3>List of images</h3>

<div>
    <MatTable Items="images" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>ID</th>
            <th>Image ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Version</th>
            <th>Actions</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.ImageId</td>
            <td>@context.Name</td>
            <td>@context.Description</td>
            <td>@context.Created</td>
            <td>@context.Version</td>
            <td></td>
        </MatTableRow>
    </MatTable>
</div>

@code {
    String[] headers = new[] { "ID", "ImageId", "Name", "Description", "Created", "Version" };
    List<ImageModel> images;

    public void showDetails(ImageModel image)
    {
        Navigation.NavigateTo($"/images/details?id=" + image.Id);
    }


    public void SelectionChangedEvent(object row)
    {
        //Navigation.NavigateTo($"/images/details?id=" + (row as ImageModel).Id);
    }

    protected override async Task OnInitializedAsync()
    {
        images = await ImgSrvc.GetImageList();
    }
}
