@page "/images"
@inject NavigationManager Navigation
@inject IImageService ImgSrvc

<h3>List of images</h3>

<table class="image-table table table-hover table-dark">
    <thead>
        <tr>
            @foreach (string header in headers)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (ImageModel img in images)
        {
        <tr @onclick="() => showDetails(img)">
            <td>@img.Id</td>
            <td>@img.ImageId</td>
            <td>@img.Name</td>
            <td>@img.Description</td>
            <td>@img.Created</td>
            <td>@img.Version</td>
        </tr>
        }
    </tbody>
</table>

@code {
    String[] headers = new[] { "ID", "ImageId", "Name", "Description", "Created", "Version" };
    List<ImageModel> images;

    public void showDetails(ImageModel image)
    {
        Navigation.NavigateTo($"/images/details?id=" + image.Id);
    }

    protected override async Task OnInitializedAsync()
    {
        images = await ImgSrvc.GetImageList();
    }
}
