@page "/images"
@inject NavigationManager Navigation
@inject IImageService ImgSrvc

<h3>List of images</h3>

<div>
    <MudTable Items="images" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Image ID</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Created</MudTh>
            <MudTh>Version</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.ImageId</MudTd>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>@context.Created</MudTd>
            <MudTd>@context.Version</MudTd>
            <MudTd></MudTd>
        </RowTemplate>
    </MudTable>
</div>

@code {
    String[] headers = new[] { "ID", "ImageId", "Name", "Description", "Created", "Version" };
    List<ImageModel> images;

    public void showDetails(ImageModel image)
    {
        Navigation.NavigateTo($"/images/details?id=" + image.Id);
    }


    public void SelectionChangedEvent(object row)
    {
        //Navigation.NavigateTo($"/images/details?id=" + (row as ImageModel).Id);
    }

    protected override async Task OnInitializedAsync()
    {
        images = await ImgSrvc.GetImageList();
    }
}
