@page "/images/details/{ImageId}"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation
@inject IImageService ImgSrvc


<h3>Image details</h3>

<div>

    @if (Image != null)
    {

        <MudTable Items="new List<ImageModel>() { Image }" T="ImageModel" Breakpoint="Breakpoint.Xl" style="width: 30%;" Bordered="true">
            <HeaderContent>
                <MudTh><b>ID</b></MudTh>
                <MudTh><b>Image Id</b></MudTh>
                <MudTh><b>Name</b></MudTh>
                <MudTh><b>Description</b></MudTh>
                <MudTh><b>Created</b></MudTh>
                <MudTh><b>Version</b></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="ID">@context.Id</MudTd>
                <MudTd DataLabel="Image Id">@context.DockerImageName</MudTd>
                <MudTd DataLabel="Name">@context.DisplayName</MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="Created">@context.Created</MudTd>
                <MudTd DataLabel="Version">@context.Version</MudTd>
            </RowTemplate>
        </MudTable>
    }
    </div>

@code {
    public ImageModel Image { get; set; }
    [Parameter]
    public string ImageId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Image = await ImgSrvc.GetImageDetails(ImageId);
    }
}
