@page "/testing/cont/adminViewAll"
@attribute [Authorize(Roles = "Admin")]

@inject IAdminContainerService acs
@inject IImageService ims
@inject NavigationManager navMgr

<h3>Testing AdminContContr</h3>

@if (containers != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Actions</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var con in containers)
            {
                <tr>
                    <td>@con.Name</td>
                    <td>@con.Description</td>
                    <td>@con.OwnerName</td>
                    <td>
                        @if (con.IsRunning)
                        {
                            <input class="btn btn-danger" type="button" @onclick="(() => Stop(con.Id))" value="Stop" />
                        }
                        else
                        {
                            <input class="btn btn-success" type="button" @onclick="(() => Start(con.Id))" value="Start" />
                        }
                        <input class="btn btn-danger" type="button" @onclick="(() => Delet(con.Id))" value="Delet" />
                        <input class="btn btn-secondary ml-1" type="button" @onclick="(() => Detes(con.Id))" value="Detes" />
                    </td>
                    <td>@con.Id</td>
                </tr>
            }
            @if (!containers.Any())
            {
                <tr><th colspan="5">There are no containers owned by this user...</th></tr>
            }
        </tbody>
    </table>

    <input type="button" class="btn btn-danger" value="Refresh my containers" @onclick="(() => Refresh())" />
    <p>@refreshStat</p>
}

@code {
    List<ContainerModel> containers;

    List<ImageModel> images;

    ContainerModel container;

    string refreshStat = "";

    protected override async Task OnInitializedAsync()
    {
        containers = await acs.GetContainers(50);
    }

    protected async Task Delet(string id)
    {
        _ = await acs.DeleteUsersContainer(id);
        containers = await acs.GetContainers(50);
    }

    protected async Task Start(string id)
    {
        _ = await acs.StartUsersContainer(id);
        containers = await acs.GetContainers(50);
    }

    protected async Task Stop(string id)
    {
        _ = await acs.StopUsersContainer(id);
        containers = await acs.GetContainers(50);
    }

    protected async Task Refresh()
    {
        await acs.RefreshAllContainers();
        containers = await acs.GetContainers(50);
        refreshStat = $"Refreshed {DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss.f")}";
    }

    protected async Task Detes(string id)
    {
        navMgr.NavigateTo($"/testing/cont/userViewDetes/{id}");
        containers = await acs.GetContainers(50);
    }

}
