<MudNavMenu>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Grade"> Index </MudNavLink>
            <MudNavLink Href="containers" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Containers </MudNavLink>
            <MudNavLink Href="images" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Images </MudNavLink>
            <MudNavLink Href="authentication/profile" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Account settings </MudNavLink>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="authentication/login" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Login </MudNavLink>
            <MudNavLink Href="authentication/register" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Register </MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavLink Href="manage/containers" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Manage Containers </MudNavLink>
            <MudNavLink Href="manage/hosts" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Manage Hosts </MudNavLink>
            <MudNavLink Href="manage/users" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Manage Users </MudNavLink>
            <MudNavLink Href="manage/admins" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Grade"> Manage Admins </MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>





    <!--ul class="flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Index
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="containers">
                        <span class="oi oi-box" aria-hidden="true"></span> Containers
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="images">
                        <span class="oi oi-document" aria-hidden="true"></span> Images
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="hosts">
                        <span class="oi oi-monitor" aria-hidden="true"></span> Hosts
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile">
                        <span class="oi oi-person" aria-hidden="true"></span> Account settings
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login">
                        <span class="oi oi-key" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register">
                        <span class="oi oi-bookmark" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/users">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Manage Users
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/admins">
                        <span class="oi oi-people" aria-hidden="true"></span> Manage Admins
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul-->
@code {
}
